section.wrapper.article div.container div.row {
  flex-direction: column;
}

div.article-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 16px;
  color: var(--grey-dk);
}
div.article-column.flex-two {
  flex: 2;
}
div.article-column.flex-three {
  flex: 3;
}
div.article-column a {
  color: var(--gold-shade-4);
  text-decoration: none;
  transition: color 150ms;
}
div.article-column a:hover {
  color: var(--gold-brand);
}
div.article-column p {
  line-height: 1.6;
}
div.article-column ul,
div.article-column ol {
  margin: 0 0 0 24px;
  padding: 4px 0;
}
div.article-column ul li,
div.article-column ol li {
  padding: 0 0 4px 0;
}
div.article-column ul li::marker,
div.article-column ol li::marker {
  color: var(--gold-shade-3);
}

div.article-column div.call-to-action {
  padding: 16px 0;
}
div.article-column div.call-to-action a.text-cta {
  position: relative;
  top: 0;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "PT Serif", PT Serif, Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 1;
  font-weight: 500;
  color: var(--gold-shade-4);
  text-decoration: none;
  transition: color 150ms;
}
div.article-column div.call-to-action a.text-cta:hover {
  color: var(--gold-brand);
}
div.article-column div.call-to-action a.text-cta:hover::after {
  transform: scaleX(1);
  transform-origin: left center 0px;
}
div.article-column div.call-to-action a.text-cta::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: var(--gold-brand);
  transform-origin: right center 0px;
  transform: scaleX(0);
  transition: transform 0.2s cubic-bezier(1, 0, 0, 1);
  will-change: transform;
}

div.article-column img.hero-img {
  width: 100%;
  height: auto;
  border: 0;
}

div.article-column img.hero-icon {
  width: 100%;
  max-width: 48px;
  height: auto;
  border: 0;
  margin: 0 auto;
  padding-bottom: 16px;
}

div.article-column div.article-header-one {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding-right: 16px;
}
div.article-column div.article-header-one h2 {
  position: relative;
  line-height: 1;
  padding-right: 16px;
  background-color: var(--white);
  z-index: 2;
}
div.article-column div.article-header-one hr {
  position: absolute;
  z-index: 1;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  border-bottom: 4px solid var(--gold-lt);
}

div.article-column div.article-header {
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-bottom: 4px;
  padding-right: 16px;
}
div.article-column div.article-header h2,
div.article-column div.article-header h3,
div.article-column div.article-header h4 {
  position: relative;
  line-height: 1;
  padding-right: 16px;
  z-index: 2;
}
div.article-column div.article-header hr {
  position: absolute;
  z-index: 1;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  border-bottom: 6px solid var(--gold-xlt);
}

div.article-column img.article-img {
  width: 100%;
  height: auto;
  border: 0;
}

section.wrapper.article.feature {
  background-color: var(--green-brand);
}
section.wrapper.article.feature div.article-column {
  color: var(--gold-xlt);
}
section.wrapper.article.feature div.article-column p {
  color: var(--gold-xlt);
}
section.wrapper.article.feature div.article-column a {
  color: var(--gold-md);
}
section.wrapper.article.feature div.article-column a:hover {
  color: var(--gold-lt);
}
section.wrapper.article.feature div.article-column ul li {
  padding: 0 0 4px 0;
  list-style-type: circle;
  color: var(--gold-xlt);
}
section.wrapper.article.feature div.article-column ul li::marker {
  color: var(--gold-md);
}
section.wrapper.article.feature div.article-column div.call-to-action a {
  color: var(--gold-lt);
}
section.wrapper.article.feature div.article-column div.call-to-action a:hover {
  color: var(--gold-md);
}
section.wrapper.article.feature div.article-column div.call-to-action a::after {
  background: var(--gold-md);
}
section.wrapper.article.feature div.article-column div.article-header h2,
section.wrapper.article.feature div.article-column div.article-header h3,
section.wrapper.article.feature div.article-column div.article-header h4 {
  color: var(--grey-xlt);
}
section.wrapper.article.feature div.article-column div.article-header hr {
  border-bottom: 8px solid var(--gold-xlt);
  opacity: 0.1;
}
section.wrapper.article.feature div.article-column div.article-header-one h2 {
  color: var(--grey-xlt);
  background-color: var(--green-brand);
}
section.wrapper.article.feature div.article-column div.article-header-one hr {
  border-bottom: 2px solid var(--gold-lt);
}

div.custom-list {
  display: flex;
  flex-direction: column;
}
div.custom-list div.list-row {
  display: flex;
}

@media screen and (min-width: 960px) {
  section.wrapper.article div.container div.row {
    flex-direction: row;
    align-items: center;
  }
}/*# sourceMappingURL=articles.css.map */