section.wrapper.hero {
  background-image: url("../img/bg-agg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
section.wrapper.hero div.container {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}
section.wrapper.hero div.container div.row {
  flex-direction: column;
  align-items: center;
}
section.wrapper.hero div.container div.row.col-three h1,
section.wrapper.hero div.container div.row.col-three h2,
section.wrapper.hero div.container div.row.col-three h3,
section.wrapper.hero div.container div.row.col-three h4,
section.wrapper.hero div.container div.row.col-three h5,
section.wrapper.hero div.container div.row.col-three h6, section.wrapper.hero div.container div.row.col-four h1,
section.wrapper.hero div.container div.row.col-four h2,
section.wrapper.hero div.container div.row.col-four h3,
section.wrapper.hero div.container div.row.col-four h4,
section.wrapper.hero div.container div.row.col-four h5,
section.wrapper.hero div.container div.row.col-four h6 {
  text-align: center;
}
section.wrapper.hero div.container div.row.col-three div.call-to-action, section.wrapper.hero div.container div.row.col-four div.call-to-action {
  margin: 0 auto;
}
section.wrapper.hero div.container div.row.col-four {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

div.hero-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 16px;
  color: var(--grey-dk);
}
div.hero-column.flex-two {
  flex: 2;
}
div.hero-column.flex-three {
  flex: 3;
}

div.hero-column div.call-to-action {
  padding: 16px 0;
}
div.hero-column div.call-to-action a {
  position: relative;
  top: 0;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  padding: 14px 18px 12px 18px;
  font-size: 18px;
  line-height: 1;
  font-weight: 500;
  color: var(--white);
  background: linear-gradient(135deg, var(--gold-shade-5) 0%, var(--gold-brand) 50%, var(--gold-shade-5) 100%);
  text-decoration: none;
  border-right: 2px solid var(--gold-shade-4);
  border-bottom: 2px solid var(--gold-shade-4);
  border-radius: 4px;
  box-shadow: 2px 2px 3px var(--grey-lt);
  transition: top 200ms, box-shadow 150ms, background-color 150ms;
}
div.hero-column div.call-to-action a:hover {
  top: -2px;
  background: linear-gradient(135deg, var(--gold-brand) 0%, var(--gold-brand) 50%, var(--gold-brand) 100%);
  box-shadow: 2px 3px 4px var(--grey-lt);
  transition: top 100ms, box-shadow 100ms, background-color 100ms;
}

div.hero-column img.hero-img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  border: 0;
}

div.hero-column img.hero-icon {
  width: 100%;
  max-width: 48px;
  height: auto;
  border: 0;
  margin: 0 auto;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  section.wrapper.hero div.container div.row {
    flex-direction: row;
  }
  section.wrapper.hero div.container div.row.col-four {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 960px) {
  section.wrapper.hero div.container div.row.col-four {
    grid-template-columns: repeat(4, 1fr);
  }
}/*# sourceMappingURL=hero.css.map */