/* ==========================================================================
  Base Style Defaults
  ========================================================================== */
:root {
  --gold-brand: #c69435;
  --gold-md: #e0bb76;
  --gold-lt: #f0cf77;
  --gold-xlt: #f2efdf;
  --green-brand: #00352b;
  --green-md: #0a4036;
  --green-lt: #4f8c6f;
  --gold-shade-1: #36290f;
  --gold-shade-2: #584218;
  --gold-shade-3: #7a5b21;
  --gold-shade-4: #9c742a;
  --gold-shade-5: #be8e33;
  --gold-shade-6: #ebe5d9;
  --white: #ffffff;
  --grey-xlt: #eaeaea;
  --grey-lt: #bfbfbf;
  --grey-md: #404040;
  --grey-dk: #0d0d0d;
  --black: #000000;
  --feature: #455972;
  --highlight: #36a3c7;
  --warning: #c76e36;
  --alert: #bd4833;
  --header: "PT Serif", PT Serif, Georgia, "Times New Roman", Times, serif;
  --text: "Inter", Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* Google Font - Inter */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCo3FwrK3iLTcviYwYZ8UA3.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Google Font - PT Serif */
@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptserif/v18/EJRSQgYoZZY2vCFuvAnt66qSVyvVp8NA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html {
  font-family: "Inter", Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: var(--grey-dk);
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
details summary,
figcaption,
blockquote {
  margin: 0;
  padding: 0;
  font-family: "PT Serif", PT Serif, Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  line-height: 1.2;
  color: var(--grey-dk);
}

p,
ol li,
ul li,
img,
details,
input {
  margin: 0;
  padding: 0;
  font-family: "Inter", Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: var(--grey-md);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

h1 {
  font-size: clamp(2rem, 2rem + (1vw - 0.2rem) * 2, 3rem);
}

h2 {
  font-size: clamp(1.5rem, 1.5rem + (1vw - 0.3rem) * 1, 2.5rem);
}

h3 {
  font-size: clamp(1.25rem, 1.25rem + (1vw - 0.5rem) * 1, 2rem);
}

h4 {
  font-size: clamp(1.1rem, 1.1rem + (1vw - 0.65rem) * 1, 1.5rem);
}

h5 {
  font-size: clamp(1rem, 1rem + (1vw - 0.85rem) * 1, 1.25rem);
}

h6 {
  font-size: clamp(0.8rem, 0.8rem + (1vw - 1rem) * 1, 1rem);
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/* Text Highlight */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* Remove Gap Between Containers */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/* Remove Default Fieldset Styles */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Allow only vertical resizing of textareas */
textarea {
  resize: vertical;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* Hide visually and from screen readers */
.hidden,
[hidden] {
  display: none !important;
}

/* Hide only visually, but have it available for screen readers */
.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/* Focus Via Keyboard */
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/* Hide visually and from screen readers, but maintain layout */
.invisible {
  visibility: hidden;
}

/* ==========================================================================
   Layout
   ========================================================================== */
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1280px;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==========================================================================
   Navigation
   ========================================================================== */
header.wrapper {
  position: relative;
  z-index: 100;
}

header._green {
  background: linear-gradient(135deg, #00352b 0%, #0a4036 50%, #00352b 100%);
}
header._green nav div.row div.offer p,
header._green nav div.row div.offer h5 {
  color: var(--gold-shade-6);
}
header._green nav div.row div.offer a {
  font-size: 22px;
  background-color: var(--gold-md);
  color: var(--grey-dk);
  box-shadow: 2px 2px 3px var(--grey-dk);
}
header._green nav div.row div.offer a:hover {
  box-shadow: 2px 3px 4px var(--grey-dk);
}

nav div.row {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px 16px 8px;
}

nav div.row div.logo {
  padding: 8px 0;
}
nav div.row div.logo img {
  width: 160px;
}

nav div.row div.offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
nav div.row div.offer a {
  font-size: 22px;
}
nav div.row div.offer h5 {
  display: block;
  padding-top: 12px;
}
nav div.row div.offer div.offer-copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
nav div.row div.offer div.offer-copy p {
  padding: 8px 0 0 0;
  font-size: 18px;
  text-transform: uppercase;
}
nav div.row div.offer div.offer-copy span {
  display: block;
  font-size: 18px;
}

@media screen and (min-width: 678px) {
  nav div.row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 8px;
  }
  nav div.row div.logo img {
    width: 192px;
    height: auto;
  }
  nav div.row div.offer h5 {
    display: block;
    padding-top: 0;
    font-size: 16px;
  }
  nav div.row div.offer a {
    display: inline-block;
    padding: 0;
    color: var(--gold-brand);
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
  }
  nav div.row div.offer a:hover {
    top: 0;
    padding: 0;
    color: var(--gold-brand);
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
  }
  nav div.row div.offer div.offer-copy {
    flex-direction: row;
  }
  nav div.row div.offer div.offer-copy p {
    padding: 0;
    text-transform: none;
  }
  nav div.row div.offer div.offer-copy span {
    display: inline-block;
  }
  header._green nav div.row div.offer a {
    font-family: "Inter", Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
    display: inline-block;
    padding: 0;
    color: var(--gold-md);
    background: transparent !important;
    box-shadow: none;
  }
  header._green nav div.row div.offer a:hover {
    box-shadow: none;
  }
}
/* ==========================================================================
   Hero
   ========================================================================== */
section.wrapper.hero {
  background-image: url("../img/hero-bg-bars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
section.wrapper.hero div.container {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}
section.wrapper.hero div.container div.row {
  flex-direction: column;
  align-items: center;
}
section.wrapper.hero div.container div.row.col-three h1,
section.wrapper.hero div.container div.row.col-three h2,
section.wrapper.hero div.container div.row.col-three h3,
section.wrapper.hero div.container div.row.col-three h4,
section.wrapper.hero div.container div.row.col-three h5,
section.wrapper.hero div.container div.row.col-three h6, section.wrapper.hero div.container div.row.col-four h1,
section.wrapper.hero div.container div.row.col-four h2,
section.wrapper.hero div.container div.row.col-four h3,
section.wrapper.hero div.container div.row.col-four h4,
section.wrapper.hero div.container div.row.col-four h5,
section.wrapper.hero div.container div.row.col-four h6 {
  text-align: center;
}
section.wrapper.hero div.container div.row.col-three div.call-to-action, section.wrapper.hero div.container div.row.col-four div.call-to-action {
  margin: 0 auto;
}
section.wrapper.hero div.container div.row.col-four {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

div.hero-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 16px;
  color: var(--grey-dk);
}
div.hero-column.flex-two {
  flex: 2;
}
div.hero-column.flex-three {
  flex: 3;
}

div.hero-column div.call-to-action {
  padding: 16px 0;
}

div.hero-column img.hero-img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  border: 0;
}

div.hero-column img.hero-icon {
  width: 100%;
  max-width: 48px;
  height: auto;
  border: 0;
  margin: 0 auto;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  section.wrapper.hero div.container div.row {
    flex-direction: row;
  }
  section.wrapper.hero div.container div.row.col-four {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 960px) {
  section.wrapper.hero div.container div.row.col-four {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* ==========================================================================
   Articles
   ========================================================================== */
section.wrapper.article div.container div.row {
  flex-direction: column;
}

div.article-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 16px;
  color: var(--grey-dk);
}
div.article-column.flex-two {
  flex: 2;
}
div.article-column.flex-three {
  flex: 3;
}
div.article-column a {
  color: var(--gold-shade-4);
  text-decoration: none;
  transition: color 150ms;
}
div.article-column a:hover {
  color: var(--gold-brand);
}
div.article-column p {
  line-height: 1.6;
}
div.article-column ul,
div.article-column ol {
  margin: 0 0 0 24px;
  padding: 4px 0;
}
div.article-column ul li,
div.article-column ol li {
  padding: 0 0 4px 0;
}
div.article-column ul li::marker,
div.article-column ol li::marker {
  color: var(--gold-shade-3);
}

div.article-column div.call-to-action {
  margin: 0 auto;
  padding: 16px 0;
}

div.article-column img.hero-img {
  width: 100%;
  height: auto;
  border: 0;
}

div.article-column img.hero-icon {
  width: 100%;
  max-width: 48px;
  height: auto;
  border: 0;
  margin: 0 auto;
  padding-bottom: 16px;
}

div.article-column div.article-header-one {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding-right: 16px;
}
div.article-column div.article-header-one h2,
div.article-column div.article-header-one h3,
div.article-column div.article-header-one h4 {
  position: relative;
  line-height: 1;
  padding-right: 16px;
  background-color: var(--white);
  z-index: 2;
}
div.article-column div.article-header-one hr {
  position: absolute;
  z-index: 1;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  border-bottom: 4px solid var(--gold-lt);
}

div.article-column div.article-header {
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-bottom: 4px;
  padding-right: 16px;
}
div.article-column div.article-header h2,
div.article-column div.article-header h3,
div.article-column div.article-header h4 {
  position: relative;
  line-height: 1;
  padding-right: 16px;
  z-index: 2;
}
div.article-column div.article-header hr {
  position: absolute;
  z-index: 1;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  border-bottom: 6px solid var(--gold-xlt);
}

div.article-column img.article-img {
  width: 100%;
  height: auto;
  border: 0;
}

section.wrapper.article.feature {
  background-color: var(--green-brand);
}
section.wrapper.article.feature div.article-column {
  color: var(--gold-xlt);
}
section.wrapper.article.feature div.article-column p {
  color: var(--gold-xlt);
}
section.wrapper.article.feature div.article-column a {
  color: var(--gold-md);
}
section.wrapper.article.feature div.article-column a:hover {
  color: var(--gold-lt);
}
section.wrapper.article.feature div.article-column ul li {
  padding: 0 0 4px 0;
  list-style-type: circle;
  color: var(--gold-xlt);
}
section.wrapper.article.feature div.article-column ul li::marker {
  color: var(--gold-md);
}
section.wrapper.article.feature div.article-column div.call-to-action a {
  color: var(--gold-lt);
}
section.wrapper.article.feature div.article-column div.call-to-action a:hover {
  color: var(--gold-md);
}
section.wrapper.article.feature div.article-column div.call-to-action a::after {
  background: var(--gold-md);
}
section.wrapper.article.feature div.article-column div.article-header h2,
section.wrapper.article.feature div.article-column div.article-header h3,
section.wrapper.article.feature div.article-column div.article-header h4 {
  color: var(--grey-xlt);
}
section.wrapper.article.feature div.article-column div.article-header hr {
  border-bottom: 8px solid var(--gold-xlt);
  opacity: 0.1;
}
section.wrapper.article.feature div.article-column div.article-header-one h2 {
  color: var(--grey-xlt);
  background-color: var(--green-brand);
}
section.wrapper.article.feature div.article-column div.article-header-one hr {
  border-bottom: 2px solid var(--gold-lt);
}

@media screen and (min-width: 768px) {
  section.wrapper.article div.container div.row {
    flex-direction: row;
    align-items: center;
  }
}
/* ==========================================================================
   Cards
   ========================================================================== */
section.wrapper.cards div.container div.row {
  flex-direction: column;
  padding: 16px;
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 16px;
}
section.wrapper.cards div.container div.row.cards-header {
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-bottom: 4px;
  padding-right: 16px;
}
section.wrapper.cards div.container div.row.cards-header h2,
section.wrapper.cards div.container div.row.cards-header h3,
section.wrapper.cards div.container div.row.cards-header h4 {
  position: relative;
  line-height: 1;
  margin: 0 auto;
  padding-right: 16px;
  text-align: center;
  z-index: 2;
}
section.wrapper.cards div.container div.row.cards-header hr {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  border-bottom: 6px solid var(--gold-xlt);
}

div.card-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 32px 32px 16px 32px;
  border: 1px solid var(--grey-lt);
  border-radius: 8px;
  box-shadow: 2px 2px 6px var(--grey-xlt);
}
div.card-column img.card-icon {
  width: 100%;
  max-width: 32px;
  height: auto;
  border: 0;
  margin: 0 auto;
  padding-bottom: 4px;
}
div.card-column div.call-to-action {
  display: flex;
  align-items: flex-end;
  flex: 1;
  padding: 16px 0;
  align-self: flex-end;
}
div.card-column div.call-to-action a {
  position: relative;
  top: 0;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "PT Serif", PT Serif, Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  font-weight: 500;
  color: var(--gold-shade-4);
  text-decoration: none;
  transition: color 150ms;
}
div.card-column div.call-to-action a:hover {
  color: var(--gold-brand);
}
div.card-column div.call-to-action a:hover::after {
  transform: scaleX(1);
  transform-origin: left center 0px;
}
div.card-column div.call-to-action a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: var(--gold-brand);
  transform-origin: right center 0px;
  transform: scaleX(0);
  transition: transform 0.2s cubic-bezier(1, 0, 0, 1);
  will-change: transform;
}

@media screen and (min-width: 768px) {
  section.wrapper.cards div.container div.row {
    flex-direction: row;
  }
}
/* ==========================================================================
   Forms
   ========================================================================== */
section.form {
  background-image: url("../img/img-bg-circles.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
section.form div.container div.row h2 {
  margin: 0;
  padding: 0;
  font-size: 42px;
  text-align: center;
  line-height: 1.1;
  color: var(--grey-dk);
}
section.form div.container div.row h2 span {
  color: var(--gold-brand);
}
section.form div.container div.banner-offset {
  position: relative;
  top: -56px;
  padding: 0 8px;
}
section.form div.container div.row form {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  box-sizing: border-box;
}
section.form div.container div.row form fieldset {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 48px 8px 42px 8px;
  background-color: var(--gold-shade-6);
  border: 1px solid var(--grey-lt);
  border-radius: 8px;
  box-shadow: 2px 2px 6px var(--grey-xlt);
  box-sizing: border-box;
}
section.form div.container div.row form fieldset div.form-row {
  position: relative;
  display: flex;
  flex-direction: column;
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 16px;
}
section.form div.container div.row form fieldset div.form-row div.form-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}
section.form div.container div.row form fieldset div.form-row div.form-column div.input-label {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
section.form div.container div.row form fieldset div.form-row div.form-column div.input-label label {
  font-size: 18px;
  color: var(--grey-dk);
}
section.form div.container div.row form fieldset div.form-row div.form-column div.input-label sup {
  position: relative;
  top: 2px;
  color: var(--alert);
  line-height: 1;
}
section.form div.container div.row form fieldset div.form-row div.form-column div.input-label span {
  color: var(--alert);
}
section.form div.container div.row form fieldset div.form-row div.form-column div.input-label div.input-error {
  display: none;
  font-size: 14px;
  color: var(--alert);
}
section.form div.container div.row form fieldset div.form-row div.form-column input[type=text],
section.form div.container div.row form fieldset div.form-row div.form-column input[type=number],
section.form div.container div.row form fieldset div.form-row div.form-column input[type=tel],
section.form div.container div.row form fieldset div.form-row div.form-column input[type=email] {
  height: 42px;
  padding: 0 8px;
  font-size: 20px;
  border: 1px solid var(--grey-md);
  border-radius: 4px;
}
section.form div.container div.row form fieldset div.form-row div.form-column div.phone-number {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
section.form div.container div.row form fieldset div.form-row div.form-column div.phone-number input {
  width: 100%;
  font-weight: 300;
}
section.form div.container div.row form fieldset div.form-row div.form-column div.phone-number input::-moz-placeholder {
  color: var(--grey-lt);
}
section.form div.container div.row form fieldset div.form-row div.form-column div.phone-number input::placeholder {
  color: var(--grey-lt);
}
section.form div.container div.row form fieldset div.form-row.disclaimer div.form-column {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
section.form div.container div.row form fieldset div.form-row.disclaimer div.form-column input[type=checkbox] {
  margin: 2px 8px 0 0;
  cursor: pointer;
}
section.form div.container div.row form fieldset div.form-row.disclaimer div.form-column label {
  font-family: "Inter", Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #a8a8a8;
}
section.form div.container div.row form fieldset div.form-row.submit {
  flex-direction: row;
  justify-content: space-between;
}
section.form div.container div.row form fieldset div.form-row.submit button {
  position: relative;
  top: 0;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  padding: 14px 18px 12px 18px;
  font-size: 18px;
  line-height: 1;
  font-weight: 500;
  color: var(--white);
  background: linear-gradient(135deg, var(--gold-shade-5) 0%, var(--gold-brand) 50%, var(--gold-shade-5) 100%);
  text-decoration: none;
  border: 0;
  border-right: 2px solid var(--gold-shade-4);
  border-bottom: 2px solid var(--gold-shade-4);
  border-radius: 4px;
  box-shadow: 2px 2px 3px var(--grey-lt);
  transition: top 200ms, box-shadow 150ms, background-color 150ms;
  cursor: pointer;
}
section.form div.container div.row form fieldset div.form-row.submit button:hover {
  top: -2px;
  background: linear-gradient(135deg, var(--gold-brand) 0%, var(--gold-brand) 50%, var(--gold-brand) 100%);
  box-shadow: 2px 3px 4px var(--grey-lt);
  transition: top 100ms, box-shadow 100ms, background-color 100ms;
}
section.form div.container div.row form fieldset div.form-row.submit button.form-reset {
  align-self: flex-end;
  font-size: 14px;
  color: var(--gold-brand);
  background: none;
  border: 0;
  box-shadow: none;
  transition: color 150ms;
}
section.form div.container div.row form fieldset div.form-row.submit button.form-reset:hover {
  top: 0;
  background: none;
  box-shadow: none;
  color: var(--gold-shade-4);
}
section.form div.container div.row form fieldset div.form-row.submit .reset {
  display: none;
}
section.form div.container div.row form fieldset div.form-row.submit .footer {
  flex: 0;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  padding-right: 12px;
}
section.form div.container div.row form fieldset div.form-row.submit .footer h6 {
  padding: 0;
  font-size: 12px;
  color: #a8a8a8;
}
section.form div.container div.row form fieldset div.form-row.submit .footer h6 sup {
  color: var(--alert);
}

div.row.form-banner {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.row.form-banner .form-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.row.form-banner img {
  width: 280px;
  height: auto;
}

@media screen and (min-width: 768px) {
  section.wrapper div.container div.banner-offset {
    position: relative;
    top: -106px;
  }
  section.wrapper div.container div.row form {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
  section.wrapper div.container div.row form fieldset {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 108px 32px 42px 32px;
    border: 1px solid var(--grey-lt);
    border-radius: 8px;
    box-shadow: 2px 2px 6px var(--grey-xlt);
  }
  section.wrapper div.container div.row form fieldset div.form-row {
    position: relative;
    display: flex;
    flex-direction: row;
    -moz-column-gap: 16px;
         column-gap: 16px;
    padding: 0;
  }
  section.wrapper div.container div.row form fieldset div.form-row div.form-column div.phone-number {
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
  section.wrapper div.container div.row form fieldset div.form-row div.form-column div.phone-number input {
    flex: 1;
  }
  section.wrapper div.container div.row form fieldset div.form-row div.form-column div.phone-number input:last-child {
    flex: 5;
  }
  div.row.form-banner img {
    width: 100%;
    max-width: 480px;
  }
}
/* ==========================================================================
   CTAs
   ========================================================================== */
a.cta-btn {
  position: relative;
  top: 0;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  padding: 14px 18px 12px 18px;
  font-size: 18px;
  line-height: 1;
  font-weight: 500;
  text-decoration: none;
  border: 0;
  border-radius: 4px;
  box-shadow: 2px 2px 3px var(--grey-lt);
  transition: top 150ms, box-shadow 150ms, background-color 150ms;
}
a.cta-btn:hover {
  top: -2px;
  box-shadow: 2px 3px 4px var(--grey-lt);
}
a.cta-btn._large {
  font-size: 22px;
}

a.cta-btn._gold {
  color: var(--white);
  background-color: var(--gold-shade-5);
  border-right: 2px solid var(--gold-shade-4);
  border-bottom: 2px solid var(--gold-shade-4);
  transition: top 150ms, box-shadow 150ms, background-color 150ms;
}
a.cta-btn._gold:hover {
  top: -2px;
  color: var(--white);
  background-color: var(--gold-brand);
  box-shadow: 2px 3px 4px var(--grey-lt);
}

a.cta-btn._light {
  color: var(--gold-shade-1);
  background-color: var(--gold-lt);
  border-right: 2px solid var(--gold-shade-3);
  border-bottom: 2px solid var(--gold-shade-3);
  transition: top 150ms, box-shadow 150ms, background-color 150ms;
}
a.cta-btn._light:hover {
  top: -2px;
  color: var(--gold-shade-1);
  background-color: var(--gold-lt);
  box-shadow: 2px 3px 4px var(--grey-lt);
}

a.cta-btn._shiny {
  font-family: "PT Serif", PT Serif, Georgia, "Times New Roman", Times, serif;
  color: var(--grey-dk);
  background: linear-gradient(135deg, var(--gold-brand) 0%, var(--gold-lt) 30%, var(--gold-lt) 70%, var(--gold-brand) 100%);
  border-right: 2px solid var(--gold-shade-4);
  border-bottom: 2px solid var(--gold-shade-4);
  transition: top 150ms, box-shadow 150ms, background-color 300ms ease-in-out;
}
a.cta-btn._shiny:hover {
  top: -2px;
  color: var(--grey-dk);
  background: linear-gradient(135deg, var(--gold-brand) 0%, var(--gold-lt) 25%, var(--gold-lt) 75%, var(--gold-brand) 100%);
  transition: top 150ms, box-shadow 150ms, background-color 300ms ease-in-out;
}

/* ==========================================================================
   Footer
   ========================================================================== */
section.wrapper.footer {
  background-color: var(--grey-xlt);
}
section.wrapper.footer div.container div.row {
  flex-direction: column;
}
section.wrapper.footer div.container div.row.socials {
  flex-direction: row;
  align-items: flex-end;
}
section.wrapper.footer div.container div.row.socials div.footer-column {
  padding: 0 16px;
}
section.wrapper.footer div.container div.row.socials div.footer-column:nth-child(2) {
  flex: 2;
  text-align: center;
}
section.wrapper.footer div.container div.row.socials div.footer-column:last-child {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

div.footer-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 16px;
  color: var(--grey-dk);
}
div.footer-column a {
  color: var(--grey-dk);
  text-decoration: none;
  transition: color 150ms;
}
div.footer-column a:hover {
  color: var(--gold-brand);
}
div.footer-column p {
  font-size: 12px;
  line-height: 1.2;
  color: var(--grey-aaa);
}
div.footer-column img.footer-logo {
  width: 104px;
  height: auto;
}
div.footer-column img.footer-icon {
  width: 20px;
  height: auto;
  margin-left: 8px;
}
div.footer-column.links {
  text-align: center;
}

@media screen and (min-width: 960px) {
  section.wrapper.footer div.container div.row {
    flex-direction: row;
    align-items: center;
  }
  section.wrapper.footer div.container div.row.socials {
    justify-content: space-evenly;
  }
}
/* ==========================================================================
   Layout Overrides
   ========================================================================== */
section.hero {
  overflow-x: clip;
}
section.hero div.hero-column {
  flex: 1;
  width: 100%;
  box-sizing: border-box;
}
section.hero div.hero-column:first-child {
  padding: 6vw;
}
section.hero div.hero-column:last-child {
  position: relative;
  align-self: flex-end;
  padding: 0;
}
section.hero div.hero-column p {
  font-size: 1.2rem;
}
section.hero div.hero-column h1 {
  line-height: 1;
  padding-bottom: 8px;
}
section.hero div.hero-column blockquote.hero-quote {
  position: relative;
  bottom: 20px;
  left: 16px;
  width: calc(100% - 32px);
  margin-bottom: 32px;
  padding: 12px 92px 12px 16px;
  font-size: 0.8em;
  background: rgb(255, 255, 255);
  border: 1px solid var(--gold-brand);
  border-bottom-width: 2px;
  border-right-width: 2px;
  border-radius: 4px;
  box-shadow: 2px 2px 6px var(--grey-lt);
  box-sizing: border-box;
}
section.hero div.hero-column blockquote.hero-quote span {
  font-family: "Inter", Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
}
section.hero div.hero-column div.call-to-action {
  padding: 24px 0 24px 0;
  align-self: center;
}
section.hero div.hero-column img.hero-img._hero {
  position: absolute;
  bottom: 0;
  right: -78px;
  z-index: 1;
  max-width: 200px;
}
section.hero div.hero-column div.hero-logos {
  position: absolute;
  bottom: 16px;
  display: flex;
  width: 100%;
  max-width: 280px;
}
section.hero div.hero-column div.hero-logos img.hero-img._logos {
  margin: 0;
  max-width: 220px;
}
@media screen and (min-width: 768px) {
  section.hero div.hero-column p {
    font-size: 1.4rem;
  }
  section.hero div.hero-column:first-child {
    padding: 2vw;
  }
  section.hero div.hero-column div.call-to-action {
    padding: 24px 0 32px 0;
    align-self: flex-start;
  }
  section.hero div.hero-column div.hero-logos {
    position: relative;
    bottom: unset;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 600px;
  }
  section.hero div.hero-column div.hero-logos img.hero-img._logos {
    margin: 0;
    max-width: 50%;
  }
  section.hero div.hero-column img.hero-img._hero {
    display: block;
    position: relative;
    right: unset;
    align-self: flex-end;
    max-width: 400px;
  }
  section.hero div.hero-column blockquote.hero-quote {
    position: absolute;
    z-index: 2;
    bottom: 4%;
    margin-bottom: 16px;
    padding: 2% 3%;
    font-size: 1em;
  }
  section.hero div.hero-column blockquote.hero-quote span {
    font-size: 0.9rem;
  }
}

section.article div.article-column div.article-header-one {
  justify-content: center;
  text-align: center;
}
section.article div.article-column div.article-header-one h2 {
  padding-left: 16px;
}
section.article div.article-column p,
section.article div.article-column li {
  font-size: 1.1rem;
  line-height: 1.4;
}
section.article div.article-column div.custom-list {
  padding: 24px 0;
}
section.article div.article-column div.custom-list h3 {
  text-align: center;
}
section.article div.article-column div.custom-list h3 span {
  color: var(--gold-brand);
}
section.article div.article-column div.custom-list ul {
  -moz-columns: 1;
       columns: 1;
}
section.article._feature {
  padding: 32px 0 8px 0;
}
@media screen and (min-width: 768px) {
  section.article div.article-column div.article-header-one {
    justify-content: center;
    text-align: center;
  }
  section.article div.article-column div.article-header-one h2 {
    padding-left: 16px;
  }
  section.article div.article-column p,
  section.article div.article-column li {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  section.article div.article-column div.custom-list {
    padding: 24px 0;
  }
  section.article div.article-column div.custom-list h3 {
    text-align: center;
  }
  section.article div.article-column div.custom-list h3 span {
    color: var(--gold-brand);
  }
  section.article div.article-column div.custom-list ul {
    -moz-columns: 2;
         columns: 2;
    -moz-column-gap: 48px;
         column-gap: 48px;
  }
  section.article div.article-column div.custom-list ul li {
    padding: 8px 0;
  }
}

section.form {
  padding-top: 6vw;
}
section.form div.form-banner h2 {
  font-size: 28px !important;
}
section.form div.banner-offset {
  justify-content: center;
}
section.form form div.form-row.submit {
  flex-direction: column !important;
  align-items: center;
}
section.form form div.form-row.submit div.footer {
  align-self: flex-end;
}
@media screen and (min-width: 768px) {
  section.form {
    padding-top: 3vw;
  }
  section.form div.form-banner h2 {
    font-size: 42px !important;
  }
  section.form form {
    max-width: 820px;
  }
  section.form form div.form-row.submit {
    flex-direction: row !important;
  }
  section.form form div.form-row.submit div.footer {
    align-self: unset;
  }
}

section.article.banner._green {
  padding: 32px 8px;
  background-color: var(--green-brand);
}
section.article.banner._green .article-column {
  padding: 16px 0;
}
section.article.banner._green .article-column .article-header-one {
  padding: 0 8px;
}
section.article.banner._green .article-column .article-header-one h2 {
  font-size: 20px;
  background-color: var(--green-brand);
  color: var(--white);
  font-weight: 500;
}
section.article.banner._green .article-column .article-header-one h4 {
  padding: 8px 0 0 0 !important;
  font-size: 16px;
  font-family: var(--text);
  background-color: var(--green-brand);
  color: var(--grey-xlt);
  font-weight: 300;
}
section.article.banner._green .call-to-action a.cta-btn {
  box-shadow: none;
}
section.article.banner._green .call-to-action a.cta-btn:hover {
  box-shadow: none;
}
@media screen and (min-width: 768px) {
  section.article.banner._green {
    padding: 56px 24px;
  }
  section.article.banner._green .article-column .article-header-one h2 {
    font-size: clamp(1.5rem, 1.5rem + (1vw - 0.3rem) * 1, 2.5rem);
  }
  section.article.banner._green .article-column .article-header-one h4 {
    font-size: clamp(1.1rem, 1.1rem + (1vw - 0.65rem) * 1, 1.5rem);
    padding: 8px 0 0 0 !important;
  }
}

section.wrapper.cards div.container {
  padding: 32px 16px;
}
section.wrapper.cards div.container div.row {
  padding: 16px 16px 0 16px;
}
section.wrapper.cards div.container div.row:last-child {
  padding: 16px;
}
section.wrapper.cards div.card-column {
  padding: 16px;
}
section.wrapper.cards div.card-column img.card-icon {
  max-width: 164px;
  padding-bottom: 16px;
}
section.wrapper.cards div.card-column p {
  font-size: small;
}
section.wrapper.cards div.card-column p.author {
  text-align: right;
}

/* ==========================================================================
   Print styles.
   ========================================================================== */
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]::after {
    content: " (" attr(href) ")";
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}/*# sourceMappingURL=style.css.map */